<h1>Generate a new visualisation</h1>

<form action="/parse" method="post">
    <p>Input:</p>
    <textarea name="input">
    </textarea>
    <p>Output:</p>
    <textarea name="output">
    </textarea>
    <input type="submit" text="Go">
</form>
